@import '../../../public/scss/variables.scss';

.pagination-component {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  a,
  button {
    width: 28px;
    height: 28px;
    border: none;
    font-size: 15px;
    margin: 0 3px;
    background: $primary-color-elts;
    border-radius: 4px;
    font-family: $font-bold;
    font-weight: 500;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 13px;
      font-weight: 700;
    }
  }

  a:hover,
  a:hover i,
  button:hover,
  button:hover i {
    color: $primary-button-event;
  }

  .current {
    background: $primary-button;
    color: $secondary-color-font;
  }

  .current:hover {
    background: $primary-button-event;
    color: $secondary-color-font;
  }

  i {
    color: $primary-button;
  }
}
