@import "./variables.scss";

// Font declaration
@font-face {
  font-family: "Roboto-Regular";
  src: url(../font/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(./font/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(./font/Roboto-Bold.ttf) format("truetype");
}

// Global
* {
  margin: 0;
  padding: 0;
  color: $primary-color-font;
  font-family: $primary-font;
  list-style: none;
  text-decoration: none;
}
body {
  background: #eee;
}
input {
  outline: none;
}
input[type="submit"],
button {
  cursor: pointer;
}
.action {
  background: $primary-button;
  border-radius: 4px;
  border: none;
  color: $secondary-color-font;
  padding: 8px 27px;
  transition: 0.2s;
  font-size: 15px;
}
.action:hover {
  background: $primary-button-event;
}

.delete {
  background: $delete-button;
  border-radius: 4px;
  border: none;
  color: $secondary-color-font;
  padding: 8px 11px;
  transition: 0.2s;
  font-size: 15px;
  i {
    color: $secondary-color-font;
  }
}
.delete:hover {
  background: $delete-button-event;
}
.hidden-fade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

/* Login Admin */
.login-admin {
  // background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translateY(-8%);
  div:first-child {
    margin-bottom: 54px;
    h2 {
      color: $primary-button;
      font-family: $font-bold;
      font-size: 30px;
    }
  }
  form {
    background: $primary-color-elts;
    box-shadow: $primary-elts-shadow;
    border-radius: 5px;
    width: 345px;
    min-height: 410px;
    padding: 65px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p:first-child {
      font-size: 18px;
      margin-bottom: 60px;
      span {
        color: $primary-button;
      }
    }
    div:nth-child(-n + 3) {
      width: 100%;
      height: 37px;
      margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $primary-button;
      input {
        border: none;
        height: 100%;
        width: 100%;
        font-size: 15px;
      }
      input::placeholder {
        color: $primary-color-font;
        font-size: 15px;
      }
      i {
        font-size: 18px;
        width: 50px;
        text-align: center;
      }
    }
    div:nth-child(3) {
      margin-bottom: 45px;
    }
    div:nth-child(4) {
      align-self: flex-start;
      display: flex;
      align-items: center;
      font-size: 15px;
      position: relative;
      margin-bottom: 46px;
      input {
        margin-right: 10px;
      } /* 
      label {
      } */
      label::before {
        content: "";
        position: absolute;
        width: 13px;
        height: 14px;
        background: #eee;
        top: 2px;
        left: 0px;
        border-radius: 2px;
      }
      input:focus + label::before {
        background: 0;
      }
    }
    [type="submit"] {
      align-self: stretch;
      border-radius: 0;
    }
  }
}

/* Dashboard Layout - Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #0a0a0a;
  width: 260px;
  height: 100vh;
  padding: 30px 0;
  position: fixed;
  .logo {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 30px 20px;
  }
  .logo h1 {
    font-size: 20px;
    color: white;
  }
  .search-bar {
    background: #292929;
    border-radius: 10px;
    padding: 10px 0;
    width: 220px;
    align-self: center;
  }
  .search-bar div {
    height: 20px;
    display: flex;
    align-items: center;
  }
  .search-bar i {
    color: white;
    margin: 0 13px;
    font-size: 15px;
  }
  .search-bar input {
    background: none;
    border: none;
    color: white;
  }
  .search-bar input::placeholder {
    color: #828282;
    font-size: 15px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 242px;
    margin: 30px 0;
    overflow: hidden;
    margin-left: -4px;
  }
  nav > div:first-child {
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    height: 470px;
    width: 242px;
  }
  nav > div:first-child::-webkit-scrollbar {
    background: none;
  }
  nav > div:first-child::-webkit-scrollbar-track {
    background: none;
  }
  nav > div:first-child::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 50px;
    width: 5px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  nav > div:first-child ul {
    direction: ltr;
  }
  nav > div:first-child li {
    margin-left: 4px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
  }
  li {
    width: 140px;
    padding: 5px 0 5px 7px;
    margin: 3px 0;
    transition: 0.2s;
    position: relative;
    border-radius: 7px 0 0 7px;
  }
  li::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    background: none;
    height: 46px;
    width: 69px;
    transition: 0.2s;
    z-index: 3;
    border-radius: 0 7px 7px 0;
  }
  li a {
    display: flex;
    align-items: center;
    color: white;
  }
  li span {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    transition: 0.2s;
  }
  ul span i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(20%, -50%);
  }
  div > span {
    margin-left: -31px;
  }
  nav > div:nth-child(2) span {
    color: white;
  }
  nav > div:nth-child(2) ul {
    margin-top: 20px;
    margin-left: 20px;
  }
  li:hover {
    background: #292929;
  }
  li:hover::after,
  li:hover::before {
    background: #292929;
  }
  .sidebar-active,
  .sidebar-active::after {
    background: #292929;
  }
}

/* Container */
.container {
  margin-left: 260px;

  /* UpperBar */
  .upper-bar {
    background: $primary-color-elts;
    box-shadow: $primary-elts-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 40px;
    margin-bottom: 15px;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .user-info i {
    margin-left: 10px;
  }
  .user-info span {
    margin-left: 5px;
  }
  .user-info .user-img {
    width: 38px;
    height: 38px;
    background: #dddddd;
    border-radius: 50%;
    margin-left: 10px;
  }
  .user-info .user {
    position: relative;
  }
  .user-info .user div:first-child {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 24px;
    right: 40px;
    width: 80px;
  }
  .user-info .user div:first-child a {
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    background: rgb(255, 254, 254);
    transition: 0.2s;
  }
  .user-info .user div:first-child a:hover {
    background: rgb(247, 246, 246);
  }
  .breadcrumbs {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    > div {
      display: inline-block;
      font-weight: bold;
    }
    i {
      font-size: 12px;
      margin: 0 10px;
    }
  }

  /* Content */
  .content {
    //background: lightgoldenrodyellow;
    flex-grow: 1;
    margin: 0 40px;
  }
}

/* Home */

/* Products */
.products {
  background: $primary-color-elts;
  padding-bottom: 30px;
  box-shadow: $primary-elts-shadow;
  .top-container {
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid $primary-border-color;
    .search {
      display: flex;
      align-items: center;
      padding: 0 10px;
      background: $primary-color-elts;
      border-radius: 4px;
      border: 1px solid $primary-border-color;
      margin-right: 10px;
      input {
        width: 130px;
        border: none;
      }
      i {
        margin-right: 7px;
      }
    }
    .toast-success {
      margin-left: 10px;
      background: #ecfbe0;
      color: #3a9838;
      border: 1px solid #3a9838;
      padding: 7px 17px;
      border-radius: 4px;
      i {
        margin-right: 7px;
        color: #3a9838;
      }
      i:nth-child(2) {
        margin: 0 0 0 15px;
        font-size: 13px;
        color: #aec09f;
        cursor: pointer;
      }
    }
  }

  .product-list {
    .legend,
    .product {
      padding: 5px 30px;
      display: grid;
      grid-template-columns: 65px 1fr 1fr 2fr 1fr 100px 117px;
      grid-template-rows: 1;
      border-bottom: 1px solid $primary-border-color;
      grid-column-gap: 10px;
      align-items: center;
      button {
        justify-self: center;
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
        justify-self: flex-end;
      }
      a {
        justify-self: flex-start;
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
      }
    }
    .legend {
      padding: 20px 30px;
      font-weight: bold;
      span:nth-child(2) {
        margin-left: 15px;
      }
    }
    .product {
      span:first-child {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        img {
          max-width: 110px;
        }
      }
      span:nth-child(2) {
        margin-left: 15px;
      }
    }
  }
}

/* Home */

/* Users */
.users {
  background: $primary-color-elts;
  padding-bottom: 30px;
  box-shadow: $primary-elts-shadow;
  .top-container {
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid $primary-border-color;
    .search {
      display: flex;
      align-items: center;
      padding: 0 10px;
      background: $primary-color-elts;
      border-radius: 4px;
      border: 1px solid $primary-border-color;
      margin-right: 10px;
      input {
        width: 130px;
        border: none;
      }
      i {
        margin-right: 7px;
      }
    }
    .toast-success {
      margin-left: 10px;
      background: #ecfbe0;
      color: #3a9838;
      border: 1px solid #3a9838;
      padding: 7px 17px;
      border-radius: 4px;
      i {
        margin-right: 7px;
        color: #3a9838;
      }
      i:nth-child(2) {
        margin: 0 0 0 15px;
        font-size: 13px;
        color: #aec09f;
        cursor: pointer;
      }
    }
  }
  .user-list {
    .legend,
    .user {
      padding: 5px 30px;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 117px;
      grid-template-rows: 1;
      border-bottom: 1px solid $primary-border-color;
      grid-column-gap: 10px;
      align-items: center;
      button {
        justify-self: center;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        justify-self: flex-end;
      }
      a {
        justify-self: flex-start;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
      }
    }
    .legend {
      padding: 20px 30px;
      font-weight: bold;
      span:nth-child(2) {
        margin-left: 15px;
      }
    }
    .user {
      span:nth-child(2) {
        margin-left: 15px;
      }
    }
  }
}

/* Home */

/* Roles */
.roles {
  background: $primary-color-elts;
  padding-bottom: 30px;
  //width:500px;
  //padding:150px;
  box-shadow: $primary-elts-shadow;
  .top-container {
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid $primary-border-color;
    .search {
      display: flex;
      align-items: center;
      padding: 0 10px;
      background: $primary-color-elts;
      border-radius: 4px;
      border: 1px solid $primary-border-color;
      margin-right: 10px;
      input {
        width: 130px;
        border: none;
      }
      i {
        margin-right: 7px;
      }
    }
    .toast-success {
      margin-left: 10px;
      background: #ecfbe0;
      color: #3a9838;
      border: 1px solid #3a9838;
      padding: 7px 17px;
      border-radius: 4px;
      i {
        margin-right: 7px;
        color: #3a9838;
      }
      i:nth-child(2) {
        margin: 0 0 0 15px;
        font-size: 13px;
        color: #aec09f;
        cursor: pointer;
      }
    }
  }
  .role-list {
    .legend,
    .role {
      padding: 5px 30px;
      display: grid;
      grid-template-columns: 117px 117px;
      grid-template-rows: 1;
      border-bottom: 1px solid $primary-border-color;
      grid-column-gap: 150px;
      align-items: center;
      justify-content: center;
      button {
        justify-self: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        justify-self: flex-end;
      }
      a {
        justify-self: flex-start;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
      }
    }
    .legend {
      display:grid;
      justify-content: center;
      padding: 20px 30px;
      font-weight: bold;
      /*span:nth-child(1) {
        margin-left: 400px;
      }
      span:nth-child(2) {
        margin-left: 400px;
      }*/
    }
    /*.role {
      span:nth-child(1) {
        margin-left: 400px;
      }
      span:nth-child(2) {
        margin-left: 400px;
      }
    }*/
  }
}




/* Add Product */
.form-control,
.description {
  position: relative;
  .error {
    font-size: 13px;
    position: absolute;
    padding: 2px 10px;
    bottom: -19px;
    left: 0;
    color: $delete-button;
    background: rgb(255, 241, 241);
  }
}
.description {
  .toolbar {
    display: flex;
    border-bottom: 1px solid $primary-border-color;
    > div {
      margin: 10px;
      padding: 10px;
    }
    > div:first-child {
      margin-left: 20px;
    }
  }
  .editor {
    background-color: $primary-color-elts;
    .notranslate.public-DraftEditor-content {
      > div {
        min-height: 300px;
        padding: 10px;
      }
    }
  }
  .rdw-image-wrapper,
  .rdw-embedded-wrapper,
  .rdw-emoji-wrapper,
  .rdw-remove-wrapper,
  .rdw-history-dropdown,
  .rdw-colorpicker-wrapper {
    display: none;
  }
}

/* Daily Information */
.daily-information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;

  .informationItem {
    background-color: #ffffff;
    color: #67748e;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 15px;
    height: 90px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .informationContainer {
    min-width: 100px;
    margin-left: 15px;
    h4 {
      margin-bottom: 5px;
    }
  }
  .fas {
    margin-right: 15px;
    font-size: 20px;
    color: #535353;
  }
}

.graphic-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  margin: 15px 0;

  .graphicItem {
    background-color: #ffffff;
    color: #67748e;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    /*max-width: 700px;*/
    height: 400px;
    /*flex-grow: 1;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .graph1 {
    margin: 15px 15px 15px 0px;
  }
  .graph2 {
    margin: 15px 0px 15px 15px;
  }
}
.productButtonContainer {
  display: flex;
  flex-direction: row;
  /*justify-content: flex-end;*/
  justify-content: space-between;
  background-color: #eee;
}

.userButton {
  height: 50px;
  width: 75px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4262d6;
  color: white;
}

.checkBox {
  padding: 5px;
}



/* NEW USER */
.add-user {
  form {
    background: $primary-color-elts;
    box-shadow: $primary-elts-shadow;
    border-radius: 5px;
    padding: 15px 15px;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    display:grid;
    grid-template-rows: 1fr 3.5fr 1fr;
    .add-user-title {
      padding-bottom: 5px;
      font-size: 23px;
      border-bottom: 1px solid $primary-border-color;
    }
    .add-user-infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      border-bottom: 1px solid $primary-border-color;
    }
    .add-user-username {
      width: 100%;
      height: 37px;  
      display: flex;
      justify-content: flex-start;
      align-items: center;
      label {
        font-size: 16px;
        width:100px;
      }
      input {
        height: 65%;
        width: 297px;
        font-size: 13px;
        padding-left: 1px;
        border-radius: 4px;
        border: 1px solid $primary-border-color
      }
    }
    .add-user-email {
      width: 100%;
      height: 37px;
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      label {
        font-size: 16px;
        width:100px;
      }
      input {
        height: 65%;
        width: 297px;
        padding-left: 1px;
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid $primary-border-color
      }
    }
    .add-user-role {
      width: 100%;
      height: 37px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;
      label {
        font-size: 16px;
        width:100px;
      } 
      select {
        height: 75%;
        width: 300px;
        border-radius: 4px;
        padding-left: 1px;
        border:1px solid $primary-border-color;
      }   
    }
    .add-user-button {
      padding-top: 15px;
    }
  }
}

/*NEW ROLE */
.perms-form {
  background-color: $primary-color-elts;
  //display:grid;
}
.role-name{
  border-bottom: 1px solid $primary-border-color;
  padding: 15px;
  .role-name-entry {
      padding: 10px 0px 0px 15px;
      display: flex;
      flex-direction: row;
      justify-items: flex-start;
      .role-name-entry-text {
        display: flex;
        align-items: center;
        padding: 0 10px;
        background: $primary-color-elts;
        border-radius: 4px;
        border: 1px solid $primary-border-color;
        input {
          width: 250px;
          height: 35px;
          border: none;
        }
        i {
          margin-right: 7px;
        }
      }
  }
  input {
    height: 25px;
    width: 250px;
    font-size: 13px;
  }
}
.role-permissions {
  border-bottom: 1px solid $primary-border-color;
  padding:15px;
  .permissions-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 75px;
    grid-row-gap: 25px;
    justify-items: stretch;
    //padding:10px 0px 0px 15px;
    padding:15px;
  }

}
.permissions-choices{
  min-width: 150px;
  //padding: 10px;
  box-shadow: $primary-elts-shadow;
  .permissions-choices-title {
    padding: 5px;
    border-bottom: 1px solid $primary-border-color;
  }
  .attrs {
    label {
      font-size: 15px;
    }
    input {
      width: 25px;
    }
  }
}
.perms-button {
  padding:15px;
}


@media screen and (max-width: 1240px) {
  .products {
    .product-list {
      .legend,
      .product {
        justify-items: center;
        padding: 5px 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border-bottom: 1px solid $primary-border-color;
        grid-column-gap: 10px;
        button {
          justify-self: center;
        }
      }
      .legend {
        display: none;
      }
      .product {
        justify-items: flex-start;
        align-items: center;
        span {
          grid-row-start: 2;
          position: relative;
        }
        span:first-child {
          grid-row-start: 1;
          grid-row-end: 4;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 150px;
          img {
            max-width: 180px;
          }
        }
        span:nth-child(2) {
          grid-row-start: 1;
          font-size: 20px;
          font-weight: bold;
        }
        span:nth-child(3) {
          grid-column-start: 2;
          align-self: flex-end;
        }
        span:nth-child(3)::before {
          position: absolute;
          top: -17px;
          // background: red;
          font-size: 13px;
          color: #b3b3b3;
          content: "Reference";
        }
        span:nth-child(5) {
          grid-column-start: 3;
          align-self: flex-end;
        }
        span:nth-child(5)::before {
          position: absolute;
          top: -17px;
          // background: red;
          font-size: 13px;
          color: #b3b3b3;
          content: "Category";
        }
        span:nth-child(6) {
          grid-column-start: 4;
          align-self: flex-end;
          // justify-self: center;
        }
        span:nth-child(6)::before {
          position: absolute;
          top: -17px;
          // background: red;
          font-size: 13px;
          color: #b3b3b3;
          content: "Price";
        }
        span:nth-child(4) {
          // background: red;
          grid-row-start: 3;
          grid-column-start: 2;
          grid-column-end: 6;
          align-self: flex-end;
        }
        span:nth-child(4)::before {
          position: absolute;
          top: -17px;
          // background: red;
          font-size: 13px;
          color: #b3b3b3;
          content: "Description";
        }
        a {
          grid-row-start: 1;
          grid-column-start: 4;
          grid-column-end: 5;
          justify-self: flex-end;
          margin-right: 37px;
        }
        button {
          grid-row-start: 1;
          grid-column-start: 4;
          grid-column-end: 5;
          justify-self: flex-end;
        }
      }
    }
  }
}
