.search-skeleton {
  height: 35px;
  width: 175px;
  background: #eee;
  border-radius: 4px;
  margin-right: 10px;
}
.button-skeleton {
  height: 35px;
  width: 140px;
  background: #eee;
  border-radius: 4px;
  margin-right: 10px;
}
.edit-skeleton {
  width: 79px;
  height: 34px;
  background: #eee;
  border-radius: 4px;
}
.delete-skeleton {
  width: 35px;
  height: 34px;
  background: #eee;
  border-radius: 4px;
}
.pagination-skeleton {
  height: 30px;
  width: 180px;
  background: #eee;
}
