.search-skeleton {
    height: 35px;
    width: 175px;
    background: #eee;
    border-radius: 4px;
    margin-right: 10px;
  }
  .button-skeleton {
    height: 35px;
    width: 140px;
    background: #eee;
    border-radius: 4px;
    margin-right: 10px;
  }