@import '../../scss/variables.scss';

.media-library-container-component {
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  position: relative;
  min-width: 450px;
  max-width: 1700px;
  width: 100%;
  padding: 0 0 10px 0;
  border-radius: 4px;
  // box-shadow: $primary-elts-shadow;
  background: $primary-color-elts;
  border-top: 1px solid $primary-border-color;
  border-bottom: 1px solid $primary-border-color;
  .error-modal {
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 20px;
    background: rgb(255, 241, 241);
    border: 1px solid $delete-button;
    text-align: center;
    border-radius: 4px;
    opacity: 0;
    .error-content {
      position: relative;
      color: $delete-button;
      i {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $delete-button;
      }
    }
  }
  .top {
    // background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 34px;
    border-bottom: 1px solid $primary-border-color;

    .search {
      background: $primary-color-elts;
      border: 1px solid $primary-border-color;
      border-radius: 4px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        border: none;
      }

      i {
        margin: 0 10px;
      }
    }

    div:nth-child(2) {
      label:nth-child(1) {
        border-radius: 4px 0 0 4px;
        border-right: 1px solid $primary-button-event;
        cursor: pointer;
      }

      button:nth-child(2) {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  ul {
    background: #eee;
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-gap: 10px;
    justify-content: center;
    padding: 10px;

    .selected {
      box-sizing: border-box;
      border: 2px solid $primary-button;
      position: relative;
    }

    .selected::before {
      content: '';
      position: absolute;
      opacity: 0.2;
      background: $primary-button;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    li {
      width: 70px;
      height: 70px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;

      img {
        width: 100px;
      }
    }
  }

  .pagination {
    margin: 10px 0 0px 0;
  }
}

/* .media-library-container-component {
  background: $primary-color-elts;
  max-width: 800px;
  height: 500px;

  border-bottom: 1px solid $primary-border-color;
  border-radius: 4px 4px 0 0;

  > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $primary-color-elts;
    padding: 5px 30px;
    border-bottom: 1px solid $primary-border-color;
    border-radius: 4px 4px 0 0;

    div:nth-child(1) {
      background: $primary-color-elts;
      display: flex;
      align-items: center;
      border-radius: 4px;
      border: 1px solid $primary-border-color;
      padding: 10px;
      i {
        margin: 0 10px;
      }
      input {
        padding: 1px 0;
        border: none;
      }
    }
    div:nth-child(2) {
      label:nth-child(1) {
        border-radius: 4px 0 0 4px;
        border-right: 1px solid $primary-button-event;
        cursor: pointer;
      }
      button:nth-child(2) {
        border-radius: 0 4px 4px 0;
      }
    }
  }
  ul {
    display: grid;
    background: red;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 0;
    grid-auto-flow: column;
    justify-items: center;
    min-height: 370px;
    padding: 10px 26px;
    li {
      margin: 3px 3px;
      width: 72px;
      overflow: hidden;
      height: 72px;
      background: #eee;
      position: relative;
      box-sizing: border-box;
      border: 0px solid $primary-button-event;
      picture {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
          max-width: 90px;
        }
      }
    }
  }
  .pagination {
    margin: 0 0 18px 0;
  }
} */
