@import '../../../scss/variables.scss';
@import '../../../scss/skeleton.scss';

.products-skeleton {
  background: $primary-color-elts;
  box-shadow: $primary-elts-shadow;
  min-height: 870px;
  margin-bottom: 15px;
  padding-bottom: 90px;
  position: relative;
  .top-container {
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid $primary-border-color;
  }
  .product-list {
    .legend,
    .product {
      padding: 20px 30px;
      display: grid;
      grid-template-columns: 65px 1fr 1fr 2fr 1fr 100px 117px;
      grid-template-rows: 1;
      border-bottom: 1px solid $primary-border-color;
      grid-column-gap: 10px;
      align-items: center;
      span:nth-child(8) {
        justify-self: center;
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
        justify-self: flex-end;
      }
      span:nth-child(7) {
        justify-self: flex-start;
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
      }
    }
    .legend {
      height: 19px;
      padding: 20px 30px;
      font-weight: bold;

      span {
        border-radius: 4px;
        width: 90%;
        height: 19px;
        background: #eee;
      }
      span:nth-child(2) {
        margin-left: 15px;
      }
    }
    .product {
      //   height: 34px;
      padding: 5px 30px;

      span:nth-child(-n + 6) {
        border-radius: 4px;
        width: 90%;
        height: 19px;
        background: #eee;
      }
      span:nth-child(2) {
        margin-left: 15px;
      }
      span:first-child {
        height: 65px;
        width: 65px;
      }
    }
    .pagination-skeleton {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1240px) {
  .products-skeleton {
    .product-list {
      .legend,
      .product {
        justify-items: center;
        padding: 5px 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border-bottom: 1px solid $primary-border-color;
        grid-column-gap: 10px;
      }
      .legend {
        display: none;
      }
      .product {
        justify-items: flex-start;
        align-items: center;
        span {
          grid-row-start: 2;
          position: relative;
        }
        span:first-child {
          grid-row-start: 1;
          grid-row-end: 4;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 150px;
        }
        span:first-child::before {
          width: 150px;
          height: 150px;
        }
        .placeholder::before {
          text-align: center;
          justify-content: center;
          font-size: 15px;
        }
        span:nth-child(2) {
          grid-row-start: 1;
          font-size: 20px;
          font-weight: bold;
          margin: 0;
        }
        span:nth-child(3) {
          grid-column-start: 2;
          align-self: flex-end;
        }
        span:nth-child(5) {
          grid-column-start: 3;
          align-self: flex-end;
        }
        span:nth-child(6) {
          grid-column-start: 4;
          align-self: flex-end;
        }
        span:nth-child(4) {
          grid-row-start: 3;
          grid-column-start: 2;
          grid-column-end: 6;
          align-self: flex-end;
        }
        span:nth-child(7) {
          grid-row-start: 1;
          grid-column-start: 4;
          grid-column-end: 5;
          justify-self: flex-end;
          margin-right: 37px;
        }
        span:nth-child(8) {
          grid-row-start: 1;
          grid-column-start: 4;
          grid-column-end: 5;
          justify-self: flex-end;
        }
      }
    }
  }
}
