@import '../../../public/scss/variables.scss';
.form-control,
.description {
    position: relative;
    .error {
        font-size: 13px;
        position: absolute;
        padding: 2px 10px;
        bottom: -19px;
        left: 0;
        color: $delete-button;
        background: rgb(255, 241, 241);
    }
}