@import "../../../public/scss/variables.scss";

.add-user-t{
  // background: red;
  background: $primary-color-elts;
  box-shadow: $primary-elts-shadow;
  border-radius: 4px;
  padding: 20px;
  .form-control {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    .error {
        bottom: 11px;
    }
    label {
        margin-bottom: 3px;
    }
    select,
    input,
    textarea {
      margin-bottom: 20px;
      height: 30px;
      width: 300px;
      border: 1px solid $primary-border-color;
      border-radius: 4px;
    }
    select {
      max-width: 400px;
    }
    textarea {
      height: 200px;
      resize: none;
    }
    
  }
  button {
    margin-top: 20px;
    width: 100px;
    }
  // input {

  // }
  // select {

  // }
  // textarea {
  //     resize: none;
  // }
}