@import '../../../public/scss/variables.scss';

.users {
  background: $primary-color-elts;
  padding-bottom: 30px;
  box-shadow: $primary-elts-shadow;
  .top-container {
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid $primary-border-color;
    .search {
      display: flex;
      align-items: center;
      padding: 0 10px;
      background: $primary-color-elts;
      border-radius: 4px;
      border: 1px solid $primary-border-color;
      margin-right: 10px;
      input {
        width: 130px;
        border: none;
      }
      i {
        margin-right: 7px;
      }
    }
    .toast-success {
      margin-left: 10px;
      background: #ecfbe0;
      color: #3a9838;
      border: 1px solid #3a9838;
      padding: 7px 17px;
      border-radius: 4px;
      i {
        margin-right: 7px;
        color: #3a9838;
      }
      i:nth-child(2) {
        margin: 0 0 0 15px;
        font-size: 13px;
        color: #aec09f;
        cursor: pointer;
      }
    }
  }
  .user-list {
    .legend,
    .user {
      padding: 5px 30px;
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 117px;
      grid-template-rows: 1;
      border-bottom: 1px solid $primary-border-color;
      grid-column-gap: 10px;
      align-items: center;
      justify-items: flex-start;
      button {
        justify-self: center;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        justify-self: flex-end;
      }
      a {
        justify-self: flex-start;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
      }
    }
    .legend {
      padding: 20px 30px;
      font-weight: bold;
      span:nth-child(2) {
        margin-left: 15px;
      }
    }
    .user {
      span:nth-child(2) {
        margin-left: 15px;
      }
    }
  }
}
