@import '../../../public/scss/variables.scss';

.stocks {
  min-height: 870px;
  margin-bottom: 15px;
  padding-bottom: 90px;
  position: relative;
  .top {
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid $primary-border-color;
    .search {
      display: flex;
      align-items: center;
      padding: 0 10px;
      background: $primary-color-elts;
      border-radius: 4px;
      border: 1px solid $primary-border-color;
      margin-right: 10px;
      input {
        width: 130px;
        border: none;
      }
      i {
        margin-right: 7px;
      }
    }
  }
  .stocks-list {
    .legend,
    .content .item {
      padding: 20px 30px;
      border-bottom: 1px solid $primary-border-color;
      display: grid;
      grid-template-columns: 7% 7% repeat(5, 1fr) 140px;
      grid-column-gap: 10px;
      align-items: center;
      a.edit {
        cursor: pointer;
      }
      span:nth-child(n + 3) {
        justify-self: flex-end;
      }
      span:nth-child(2) {
        margin-left: 10px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      span:nth-child(3) {
        grid-column-start: 5;
        grid-column-end: 6;
      }
      span:nth-child(4) {
        grid-column-start: 6;
        grid-column-end: 7;
      }
      span:nth-child(5) {
        grid-column-start: 7;
        grid-column-end: 8;
      }
      .edit,
      .delete {
        grid-column-start: 8;
        grid-row-start: 1;
      }
      .edit {
        margin-left: 23px;
        justify-self: flex-end;
      }
    }
    .content .item {
      span:nth-child(1) {
        max-width: 50px;
        max-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          position: absolute;
          max-height: 65px;
          max-width: 65px;
        }
      }
      span:nth-child(1)::before {
        content: '';
        width: 65px;
        height: 65px;
        position: absolute;
        background: #fff;
      }
      .placeholder::before {
        display: flex;
        align-items: center;
        font-size: 10px;
        text-align: center;
        content: 'Missing \ image' !important;
      }

      form {
        grid-column-start: 3;
        grid-column-end: 9;
        display: grid;
        grid-template-columns: repeat(5, 1fr) 140px;
        grid-row-start: 1;
        grid-row-end: 1;
        .form-control {
          justify-self: flex-end;
          align-self: center;
          max-width: 100px;

          input {
            max-width: 100px;
            font-size: 16px;
            height: 30px;
            border: 1px solid $primary-border-color;
            border-radius: 4px;
            text-align: right;
          }
        }
        .form-control:nth-child(1) {
          grid-column-start: 3;
          grid-column-end: 4;
        }
        .form-control:nth-child(2) {
          grid-column-start: 4;
          grid-column-end: 5;
        }
        .form-control:nth-child(3) {
          grid-column-start: 5;
          grid-column-end: 6;
        }
        button {
          grid-column-start: 5;
          grid-column-end: 6;
        }
      }
    }
  }
  .legend {
    font-weight: bold;
  }
  .content {
    margin: 0;
  }
  .pagination-component {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .stocks {
    .legend {
      display: none !important;
    }
    .content .item {
      grid-template-rows: repeat(2, 1fr);
      position: relative;

      span {
        position: relative;
      }
      span:nth-child(1) {
        grid-column-start: 1 !important;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      span:nth-child(2) {
        grid-column-start: 3 !important;
        grid-column-end: 7;
        grid-row-start: 1 !important;
        grid-row-end: 1;
        margin: 0 !important;
      }
      span:nth-child(2)::before {
        content: 'Product';
        position: absolute;
        top: -17px;
        font-size: 13px;
        color: #b3b3b3;
      }
      span:nth-child(3) {
        grid-column-start: 3 !important;
        grid-column-end: 4 !important;
        grid-row-start: 2;
        grid-row-end: 2;
        align-self: flex-end;
        justify-self: flex-start !important;
      }
      span:nth-child(3)::before {
        content: 'Physical';
        position: absolute;
        top: -17px;
        font-size: 13px;
        color: #b3b3b3;
      }
      span:nth-child(4) {
        grid-column-start: 5 !important;
        grid-column-end: 6 !important;
        grid-row-start: 2;
        grid-row-end: 2;
        align-self: flex-end;
        justify-self: flex-start !important;
      }
      span:nth-child(4)::before {
        content: 'Incoming';
        position: absolute;
        top: -17px;
        font-size: 13px;
        color: #b3b3b3;
      }
      span:nth-child(5) {
        grid-column-start: 7 !important;
        grid-column-end: 8 !important;
        grid-row-start: 2;
        grid-row-end: 2;
        align-self: flex-end;
        justify-self: flex-start !important;
      }
      span:nth-child(5)::before {
        content: 'Pending';
        position: absolute;
        top: -17px;
        font-size: 13px;
        color: #b3b3b3;
      }
      form {
        grid-template-columns: repeat(6, 1fr) 150px;
        grid-row-start: 2 !important;
        grid-row-end: 2 !important;
        .form-control,
        .form-control input {
          max-width: 100px;
          justify-self: flex-start !important;
        }
        .form-control:nth-child(1) {
          grid-column-start: 1 !important;
          grid-column-end: 3 !important;
        }
        .form-control:nth-child(2) {
          grid-column-start: 3 !important;
          grid-column-end: 5 !important;
        }
        .form-control:nth-child(3) {
          grid-column-start: 5 !important;
          grid-column-end: 7 !important;
        }
        input {
          height: 32px!important;
          text-align: left !important;
        }
        button {
          position: absolute;
          top: 0;
          margin-left: -89px!important;
          grid-column-start: 7 !important;
          grid-column-end: 8 !important;
          justify-self: flex-start !important;
        }
      }
    }
  }
}
