@import '../../../public/scss/variables.scss';

.category {
  min-height: 870px;
  margin-bottom: 15px;
  padding-bottom: 90px;
  position: relative;
  .top {
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px solid $primary-border-color;
    .search {
      display: flex;
      align-items: center;
      padding: 0 10px;
      background: $primary-color-elts;
      border-radius: 4px;
      border: 1px solid $primary-border-color;
      margin-right: 10px;
      input {
        width: 130px;
        border: none;
      }
      i {
        margin-right: 7px;
      }
    }
  }

  .category-list {
    .legend,
    .role {
      padding: 20px 30px;
      border-bottom: 1px solid $primary-border-color;
      display: grid;
      grid-column-gap: 10px;
      align-items: center;

      .edit,
      .delete {
        grid-column-start: 2;
        grid-row-start: 1;
      }
      .edit {
        margin-right: 38px;
        justify-self: flex-end;
      }
      .delete {
        justify-self: flex-end;
      }
    }
    .pagination-component {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 20px;
    }
  }
  .legend {
    font-weight: bold;
  }
  .content {
    margin: 0;
  }
}
