@import "../../public/scss/variables.scss";

.product-form {
  background: none;
}

.product-form form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .form-control {
    display: flex;
    flex-direction: column;
    margin: 30px 20px 20px 20px;

    label {
      margin-bottom: 18px;
    }

    input,
    select {
      border: #d6d6d6 solid 1px;
      border-radius: 4px;
      height: 35px;
      padding: 0 10px;
    }
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .pictures {
      box-shadow: $primary-elts-shadow;
    }

    .inputs > div:not(:last-child) {
      margin: 25px 0 75px;
    }

    .inputs > div:last-child {
      margin: 50px 0 25px;
    }

    > div {
      width: 49%;
      min-height: 500px;
    }

    > .inputs {
      background: $primary-color-elts;
      box-shadow: $primary-elts-shadow;
      border-radius: 4px;
    }
  }

  .description {
    margin-top: 30px;
    background: $primary-color-elts;
    box-shadow: $primary-elts-shadow;

    .ql-toolbar.ql-snow {
      padding: 18px;
    }
    .ql-formats > span,
    .ql-formats select,
    .ql-formats button {
      margin: 0 5px;
      border: 1px solid $primary-border-color;
      border-radius: 4px;
    }
    .ql-editor {
      min-height: 600px;
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;

    button {
      height: 33px;
      border-radius: 7px;
      padding: 10px 25px;
      margin-right: 10px;
      border: none;
      font-size: 1rem;
      font-style: normal;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
}
