@import "../../../public/scss/variables.scss";

.action-tax-rule {
  // background: red;
  background: $primary-color-elts;
  box-shadow: $primary-elts-shadow;
  border-radius: 4px;
  padding: 20px;

  .form-control {
    display: flex;
    flex-direction: column;

    .error {
      bottom: 11px;
    }

    label {
      margin-bottom: 3px;
    }

    select,
    input,
    textarea {
      margin-bottom: 30px;
      height: 30px;
      border: 1px solid $primary-border-color;
      border-radius: 4px;
    }

    select {
      max-width: 400px;
    }

    textarea {
      height: 200px;
      resize: none;
    }

  }

  button {
    margin-top: 30px;
    width: 100%;
  }

  // input {

  // }
  // select {

  // }
  // textarea {
  //     resize: none;
  // }
}
