@import './variables.scss';

// Font declaration
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../font/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url(../font/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../font/Roboto-Bold.ttf) format('truetype');
}

// Global
* {
  margin: 0;
  padding: 0;
  color: $primary-color-font;
  font-family: $primary-font;
  list-style: none;
  text-decoration: none;
}
body {
  background: #eee;
}
input {
  outline: none;
}
input[type='submit'],
button {
  cursor: pointer;
}
.action {
  background: $primary-button;
  border-radius: 4px;
  border: none;
  color: $secondary-color-font;
  padding: 8px 27px;
  transition: 0.2s;
  font-size: 15px;
}
.action:hover {
  background: $primary-button-event;
}
.second-action {
  background: $primary-button-event;
  border-radius: 4px;
  border: none;
  color: $secondary-color-font;
  padding: 8px 27px;
  transition: 0.2s;
  font-size: 15px;
}
.second-action:hover {
  background: $primary-button;
}

.delete {
  background: $delete-button;
  border-radius: 4px;
  border: none;
  color: $secondary-color-font;
  padding: 8px 11px;
  transition: 0.2s;
  font-size: 15px;
  i {
    color: $secondary-color-font;
  }
}
.delete:hover {
  background: $delete-button-event;
}
.hidden-fade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.global-error {
  margin-top: 5px;
  border-radius: 4px;
  background: rgb(255, 241, 241);
  color: $delete-button;
  padding: 10px;
  border: 1px solid $delete-button;
}

/* Login Admin */
.login-admin {
  // background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  div:first-child {
    margin-bottom: 54px;
    h2 {
      color: $primary-button;
      font-family: $font-bold;
      font-size: 30px;
    }
  }
  form {
    background: $primary-color-elts;
    box-shadow: $primary-elts-shadow;
    border-radius: 5px;
    width: 325px;
    min-height: 420px;
    padding: 65px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p:first-child {
      font-size: 18px;
      margin-bottom: 70px;
      span {
        color: $primary-button;
      }
    }
    .global-error {
      width: 100%;
      margin-bottom: 0;
    }
    .login-error {
      width: 100%;
      display: flex;
    }
    .email,
    .password {
      width: 100%;
      height: 35px;
      margin-bottom: 75px;
      border-bottom: 1px solid #4262d6;
      display: flex;
      justify-content: space-between;
      .form-control {
        width: 100%;
        input {
          width: 100%;
          height: 35px;

          border: none;
          font-size: 17px;
        }
        input::placeholder {
          font-size: 17px;
        }
        label {
          display: none;
        }
        .error {
          bottom: -55px;
        }
      }
      i {
        align-self: center;
        font-size: 17px;
      }
    }
    .password {
      margin-bottom: 30px;
    }
    div:nth-child(4) {
      align-self: flex-start;
      display: flex;
      align-items: center;
      font-size: 17px;
      position: relative;
      margin-bottom: 46px;
      input {
        margin-right: 10px;
      } /* 
      label {
      } */
      label::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background: #eee;
        top: 2px;
        left: -2px;
        border-radius: 2px;
      }
      input:focus + label::before {
        background: 0;
      }
    }
    [type='submit'] {
      align-self: stretch;
      border-radius: 0;
    }
    .loading-button {
      align-self: stretch;
      border-radius: 0;
    }
  }
}

/* Dashboard Layout - Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #0a0a0a;
  width: 260px;
  height: 100vh;
  padding: 30px 0;
  position: fixed;
  .logo {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 30px 20px;
  }
  .logo h1 {
    //padding-left: 15px;;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
  }
  .search-bar {
    background: #292929;
    border-radius: 10px;
    padding: 10px 0;
    width: 220px;
    align-self: center;
  }
  .search-bar div {
    height: 20px;
    display: flex;
    align-items: center;
  }
  .search-bar i {
    color: white;
    margin: 0 13px;
    font-size: 15px;
  }
  .search-bar input {
    background: none;
    border: none;
    color: white;
  }
  .search-bar input::placeholder {
    color: #828282;
    font-size: 15px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 242px;
    margin: 30px 0;
    overflow: hidden;
    margin-left: -4px;
  }
  nav > div:first-child {
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    height: 520px;
    width: 242px;
  }
  nav > div:first-child::-webkit-scrollbar {
    background: none;
  }
  nav > div:first-child::-webkit-scrollbar-track {
    background: none;
  }
  nav > div:first-child::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 50px;
    width: 5px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  nav > div:first-child ul {
    direction: ltr;
  }
  nav > div:first-child li {
    margin-left: 4px;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
  }
  li {
    width: 175px;
    padding: 5px 0 5px 7px;
    margin: 3px 0;
    transition: 0.2s;
    position: relative;
    border-radius: 7px 0 0 7px;
  }
  li::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    background: none;
    height: 46px;
    width: 69px;
    transition: 0.2s;
    z-index: 3;
    border-radius: 0 7px 7px 0;
  }
  li a {
    display: flex;
    align-items: center;
    color: white;
  }
  li span {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    transition: 0.2s;
  }
  ul span i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(20%, -50%);
  }
  div > span {
    margin-left: -31px;
  }
  nav > div:nth-child(2) span {
    color: white;
  }
  nav > div:nth-child(2) ul {
    margin-top: 20px;
    margin-left: 20px;
  }
  li:hover {
    background: #292929;
  }
  li:hover::after,
  li:hover::before {
    background: #292929;
  }
  .sidebar-active,
  .sidebar-active::after {
    background: #292929;
  }
}

/* Container */
.container {
  margin-left: 260px;

  /* UpperBar */
  .upper-bar {
    background: $primary-color-elts;
    box-shadow: $primary-elts-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 40px;
    margin-bottom: 15px;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .user-info i {
    margin-left: 10px;
  }
  .user-info span {
    margin-left: 5px;
  }
  .user-info .user-img {
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
  }
  .user-info .user-img2 {
    width : 38px; height : 38px;
    border: none;
    border-radius: 50%;
  }
  .user-info .user {
    position: relative;
  }
  .user-info .user div:first-child {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 24px;
    right: 40px;
    width: 80px;
  }
  .user-info .user div:first-child a {
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    background: rgb(255, 254, 254);
    transition: 0.2s;
  }
  .user-info .user div:first-child a:hover {
    background: rgb(247, 246, 246);
  }
  .breadcrumbs {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    > div {
      display: inline-block;
      font-weight: bold;
    }
    i {
      font-size: 12px;
      margin: 0 10px;
    }
  }

  /* Content */
  .content {
    //background: lightgoldenrodyellow;
    flex-grow: 1;
    margin: 0 40px;
  }
}

.home {
  .products,
  .products-skeleton{
    min-height: auto;
    padding-bottom: 60px;
  }

}

.media-library-view {
  box-shadow: $primary-elts-shadow;
}

/* Add Product */
.form-control,
.description {
  position: relative;
  .error {
    font-size: 13px;
    position: absolute;
    padding: 2px 10px;
    bottom: -19px;
    left: 0;
    color: $delete-button;
    background: rgb(255, 241, 241);
  }
}
.description {
  .toolbar {
    display: flex;
    border-bottom: 1px solid $primary-border-color;
    > div {
      margin: 10px;
      padding: 10px;
    }
    > div:first-child {
      margin-left: 20px;
    }
  }
  .editor {
    background-color: $primary-color-elts;
    .notranslate.public-DraftEditor-content {
      > div {
        min-height: 300px;
        padding: 10px;
      }
    }
  }
  .rdw-image-wrapper,
  .rdw-embedded-wrapper,
  .rdw-emoji-wrapper,
  .rdw-remove-wrapper,
  .rdw-history-dropdown,
  .rdw-colorpicker-wrapper {
    display: none;
  }
}

/* Categories */
.categories {
  background: $primary-color-elts;
  box-shadow: $primary-elts-shadow;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Taxes */
.taxes {
  background: $primary-color-elts;
  min-height: 100%;
  box-shadow: $primary-elts-shadow;
  border-radius: 4px;
  margin-bottom: 20px;
  
  .tabs {
    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 150px);
      border-bottom: 2px solid $primary-button;

      .action:hover {
        background: $primary-button;
      }
      button {
        border-radius: 0;
      }
      button:nth-child(1) {
        border-radius: 4px 0 0 0 ;
      }
      button:nth-child(2) {
        border-radius: 0 4px 0 0 ;

      }
    }
  }
  .lists {
    min-height: 490px;
  position: relative;

    padding-bottom: 90px;
  }
  .deleted {
    margin: 5px 30px;
    border-radius: 4px;
    background: rgb(255, 241, 241);
    color: $delete-button;
    padding: 10px;
    border: 1px solid $delete-button;
    position: relative;
    .tax-rule-deleted {
      margin-bottom: 5px;
    }
    i {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    li {
      list-style: inside;
      margin-bottom: 5px;
    }
    p {
      font-weight: bold;
    }

    * {
      color: $delete-button;
    }
  }
}

.notfound {
  display: flex;
  justify-content: center;
  label {
    padding: 5px;
    font-size: 15px;
    color: red;
  }
}
/* Daily Information */



.productButtonContainer {
  display: flex;
  flex-direction: row;
  /*justify-content: flex-end;*/
  justify-content: space-between;
  background-color: #eee;
}

.userButton {
  height: 50px;
  width: 75px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4262d6;
  color: white;
}

.checkBox {
  padding: 5px;
}

/* NEW USER TITLE */
.add-user-title {
  padding-bottom: 5px;
  font-size: 23px;
  margin-bottom: 20px;
  border-bottom: 1px solid $primary-border-color;
}


/* ARROW BACKSPACE BUTTON */
.arrowBackButton {
  background: $primary-button;
  border-radius: 4px;
  border: none;
  color: $secondary-color-font;
  padding: 8px 15px;
  transition: 0.2s;
  font-size: 15px;
}
.arrowBackButton:hover {
  background: $primary-button-event;
}
.arrowBackButton .fas {
  color: $secondary-color-font;
  font-size: 15px;
  margin-right: 3px;
}



/* Add Product */
.form-control,
.description {
  position: relative;
  .error {
    font-size: 13px;
    position: absolute;
    padding: 2px 10px;
    bottom: -19px;
    left: 0;
    color: $delete-button;
    background: rgb(255, 241, 241);
  }
}
.description {
  .toolbar {
    display: flex;
    border-bottom: 1px solid $primary-border-color;
    > div {
      margin: 10px;
      padding: 10px;
    }
    > div:first-child {
      margin-left: 20px;
    }
  }
  .editor {
    background-color: $primary-color-elts;
    .notranslate.public-DraftEditor-content {
      > div {
        min-height: 300px;
        padding: 10px;
      }
    }
  }
  .rdw-image-wrapper,
  .rdw-embedded-wrapper,
  .rdw-emoji-wrapper,
  .rdw-remove-wrapper,
  .rdw-history-dropdown,
  .rdw-colorpicker-wrapper {
    display: none;
  }
}

.userProfile {
  background: $primary-color-elts;
  box-shadow: $primary-elts-shadow;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  display: grid;
  grid-template-rows: 215px 1fr 1fr;
  align-items: row;
  .photoProfile {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 15px;
    border: 1px solid lightgray;
    //background-color: #eeea
  }
  .userPhoto {
    height: 145px;
    width: 145px;
    border-radius: 50%;
    margin: 15px;
  }
}

.informationProfile {
  padding: 15px;
  .infos {
    border: 1px solid $primary-border-color;
    height: 272px;
    padding: 0px 15px 0px 15px;
    margin-top: 15px;
    border-radius: 4px;
  }
}

.profilePermissions {
  padding: 15px;
  .profileCRUD {
    display: grid;
    justify-content: flex-start;
    align-items: row;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid $primary-border-color;
  }
  .profilePerms {
    max-height: 243px;
    border: 1px solid $primary-border-color;
    display: grid;
    align-items: column;
    grid-template-rows: 35px 1fr;
    margin-top: 15px;
    padding:15px;
    border-radius: 4px;
  }
  .scroll-permissions-list {
    overflow-y: scroll;
  }
  .permTit {
    display: grid;
    justify-content: flex-start;
    justify-self: center;
    align-items: row;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-bottom: 1px solid $primary-border-color;
    .fas {
      font-size: 20px; 
      margin-left: 15px; 
    }
    .fa-check-circle {
      color: #3a9838;
    }
    .fa-times-circle {
      color:red;
    }
    label {
      display: inline-block;
    }
    span:nth-child(3) {
      padding-left: 10px;
    }
    span:nth-child(4) {
      padding-left: 15px;
    }
    span:nth-child(5) {
      padding-left: 15px;
    }
  }
}